/* ------------------------------------
  Icon
------------------------------------ */
.u-icon {
  position: relative;
  line-height: 0.7;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 2.75rem;
  height: 2.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: 0.3s ease-in-out;
}

.u-icon__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.u-icon--shadow {
  box-shadow: 0 0.25rem 0.5rem 0 #e3e6f0;
}

/* ------------------------------------
  Icon Default Styles
------------------------------------ */

/* primary */
.u-icon--primary {
  color: #fff;
  background-color: #21c87a;
  border-color: #21c87a;
}

.u-icon--primary[href]:hover {
  color: #fff;
  background-color: #1ca766;
  border-color: #1a9c5f;
}

.u-icon--primary.disabled, .u-icon--primary:disabled {
  background-color: #21c87a;
  border-color: #21c87a;
}

/* secondary */
.u-icon--secondary {
  color: #fff;
  background-color: #646f79;
  border-color: #646f79;
}

.u-icon--secondary[href]:hover {
  color: #fff;
  background-color: #535c64;
  border-color: #4d555d;
}

.u-icon--secondary.disabled, .u-icon--secondary:disabled {
  background-color: #646f79;
  border-color: #646f79;
}

/* success */
.u-icon--success {
  color: #fff;
  background-color: #21c87a;
  border-color: #21c87a;
}

.u-icon--success[href]:hover {
  color: #fff;
  background-color: #1ca766;
  border-color: #1a9c5f;
}

.u-icon--success.disabled, .u-icon--success:disabled {
  background-color: #21c87a;
  border-color: #21c87a;
}

/* info */
.u-icon--info {
  color: #212529;
  background-color: #00dffc;
  border-color: #00dffc;
}

.u-icon--info[href]:hover {
  color: #fff;
  background-color: #00bdd6;
  border-color: #00b2c9;
}

.u-icon--info.disabled, .u-icon--info:disabled {
  background-color: #00dffc;
  border-color: #00dffc;
}

/* warning */
.u-icon--warning {
  color: #212529;
  background-color: #ffbc42;
  border-color: #ffbc42;
}

.u-icon--warning[href]:hover {
  color: #212529;
  background-color: #ffae1c;
  border-color: #ffaa0f;
}

.u-icon--warning.disabled, .u-icon--warning:disabled {
  background-color: #ffbc42;
  border-color: #ffbc42;
}

/* danger */
.u-icon--danger {
  color: #fff;
  background-color: #da4b48;
  border-color: #da4b48;
}

.u-icon--danger[href]:hover {
  color: #fff;
  background-color: #d12e2a;
  border-color: #c72b28;
}

.u-icon--danger.disabled, .u-icon--danger:disabled {
  background-color: #da4b48;
  border-color: #da4b48;
}

/* light */
.u-icon--light {
  color: #212529;
  background-color: #f5f8fb;
  border-color: #f5f8fb;
}

.u-icon--light[href]:hover {
  color: #212529;
  background-color: #dae5f0;
  border-color: #d1dfec;
}

.u-icon--light.disabled, .u-icon--light:disabled {
  background-color: #f5f8fb;
  border-color: #f5f8fb;
}

/* dark */
.u-icon--dark {
  color: #fff;
  background-color: #151b26;
  border-color: #151b26;
}

.u-icon--dark[href]:hover {
  color: #fff;
  background-color: #07090d;
  border-color: #030405;
}

.u-icon--dark.disabled, .u-icon--dark:disabled {
  background-color: #151b26;
  border-color: #151b26;
}

/* purple */
.u-icon--purple {
  color: #fff;
  background-color: #796eff;
  border-color: #796eff;
}

.u-icon--purple[href]:hover {
  color: #fff;
  background-color: #5648ff;
  border-color: #4a3bff;
}

.u-icon--purple.disabled, .u-icon--purple:disabled {
  background-color: #796eff;
  border-color: #796eff;
}

/* blue */
.u-icon--blue {
  color: #fff;
  background-color: #1c6be1;
  border-color: #1c6be1;
}

.u-icon--blue[href]:hover {
  color: #fff;
  background-color: #185bbf;
  border-color: #1655b4;
}

.u-icon--blue.disabled, .u-icon--blue:disabled {
  background-color: #1c6be1;
  border-color: #1c6be1;
}

/* primary-soft */
.u-icon--primary-soft {
  color: #fff;
  background-color: rgba(33, 200, 122, 0.1);
  border-color: rgba(33, 200, 122, 0.1);
}

.u-icon--primary-soft[href]:hover {
  color: #fff;
  background-color: rgba(28, 167, 102, 0.1);
  border-color: rgba(26, 156, 95, 0.1);
}

.u-icon--primary-soft.disabled, .u-icon--primary-soft:disabled {
  background-color: rgba(33, 200, 122, 0.1);
  border-color: rgba(33, 200, 122, 0.1);
}

/* white-soft */
.u-icon--white-soft {
  color: #212529;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.u-icon--white-soft[href]:hover {
  color: #212529;
  background-color: rgba(236, 236, 236, 0.1);
  border-color: rgba(230, 230, 230, 0.1);
}

.u-icon--white-soft.disabled, .u-icon--white-soft:disabled {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

/* dark-soft */
.u-icon--dark-soft {
  color: #fff;
  background-color: rgba(21, 27, 38, 0.4);
  border-color: rgba(21, 27, 38, 0.4);
}

.u-icon--dark-soft[href]:hover {
  color: #fff;
  background-color: rgba(7, 9, 13, 0.4);
  border-color: rgba(3, 4, 5, 0.4);
}

.u-icon--dark-soft.disabled, .u-icon--dark-soft:disabled {
  background-color: rgba(21, 27, 38, 0.4);
  border-color: rgba(21, 27, 38, 0.4);
}

/* facebook */
.u-icon--facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: #3b5998;
}

.u-icon--facebook[href]:hover {
  color: #fff;
  background-color: #30497c;
  border-color: #2d4373;
}

.u-icon--facebook.disabled, .u-icon--facebook:disabled {
  background-color: #3b5998;
  border-color: #3b5998;
}

/* google */
.u-icon--google {
  color: #fff;
  background-color: #d14130;
  border-color: #d14130;
}

.u-icon--google[href]:hover {
  color: #fff;
  background-color: #b33628;
  border-color: #a93325;
}

.u-icon--google.disabled, .u-icon--google:disabled {
  background-color: #d14130;
  border-color: #d14130;
}

/* twitter */
.u-icon--twitter {
  color: #fff;
  background-color: #1da1f2;
  border-color: #1da1f2;
}

.u-icon--twitter[href]:hover {
  color: #fff;
  background-color: #0d8ddc;
  border-color: #0c85d0;
}

.u-icon--twitter.disabled, .u-icon--twitter:disabled {
  background-color: #1da1f2;
  border-color: #1da1f2;
}

/* instagram */
.u-icon--instagram {
  color: #fff;
  background-color: #3f729b;
  border-color: #3f729b;
}

.u-icon--instagram[href]:hover {
  color: #fff;
  background-color: #345e80;
  border-color: #305777;
}

.u-icon--instagram.disabled, .u-icon--instagram:disabled {
  background-color: #3f729b;
  border-color: #3f729b;
}

/* github */
.u-icon--github {
  color: #fff;
  background-color: #24292e;
  border-color: #24292e;
}

.u-icon--github[href]:hover {
  color: #fff;
  background-color: #131619;
  border-color: #0e1011;
}

.u-icon--github.disabled, .u-icon--github:disabled {
  background-color: #24292e;
  border-color: #24292e;
}

/* ------------------------------------
  Icon Sizes
------------------------------------ */

/* Extra Small */
.u-icon--xs {
  width: 1.375rem;
  height: 1.375rem;
  font-size: 0.5625rem;
  border-radius: 0.25rem;
}

/* Small */
.u-icon--sm {
  width: 2rem;
  height: 2rem;
  font-size: 0.8125rem;
  border-radius: 0.25rem;
}

/* Medium */
.u-icon--md {
  width: 4rem;
  height: 4rem;
  font-size: 1.75rem;
  border-radius: 0.25rem;
}

/* Large */
.u-icon--lg {
  width: 5rem;
  height: 5rem;
  font-size: 2.25rem;
  border-radius: 0.25rem;
}

/* Exatra Large */
.u-icon--xl {
  width: 6rem;
  height: 6rem;
  font-size: 2.25rem;
  border-radius: 0.25rem;
}
.u-icon--palette {
  color: #fff;
  background-color: #c52020;
  border-color: #c52020;
}

.u-icon--socket {
  color: #fff;
  background: #6aa84f;
  border-color: #6aa84f;
}

.u-icon--zoom {
  color: #fff;
  background: #c00;
  border-color: #c00;
}
