/* ------------------------------------
  Button Sizes
------------------------------------ */
.btn-xs {
  font-size: 0.6875rem;
  padding: 0.4688rem 0.9375rem;
}

.btn-sm, .btn-group-sm > .btn {
  border-radius: 0.25rem;
}

/* Icons */
.btn-icon {
  position: relative;
  line-height: 0;
  font-size: 1rem;
  width: 3.125rem;
  height: 3.125rem;
  padding: 0;
}

.btn-icon__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn-icon.btn-xs {
  font-size: 0.75rem;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}
