/* Card Frame */
.card-frame {
  border: 1px solid #e3e6f0;
  transition: 0.3s;
  position: relative;
  &-wide{
    border-top-width: 0.25rem;
  }
  .card-label{
    position: absolute;
    top:0;
    left:0;
    font-size: 12px;
    background: #f5f8fb;
    padding: 0 0.6rem;
  }
}

.card-frame.active, .card-frame:hover {
  border-color: rgba(33, 200, 122, 0.7);
  box-shadow: 0 0 2.1875rem rgba(140, 152, 164, 0.25);
}

/* Card Shadow */
.card-shadow {
  transition: 0.3s;
}

.card-shadow:hover {
  box-shadow: 0 0 2.1875rem rgba(140, 152, 164, 0.25);
}

/* Text */
.card-text-dark {
  color: #151b26;
}

.card-text-dark:hover {
  color: #21c87a;
}

.card-primary-frame.active, .card-primary-frame:hover {
  border-color: #21c87a;
}

.card-secondary-frame.active, .card-secondary-frame:hover {
  border-color: #646f79;
}

.card-success-frame.active, .card-success-frame:hover {
  border-color: #21c87a;
}

.card-info-frame.active, .card-info-frame:hover {
  border-color: #00dffc;
}

.card-warning-frame.active, .card-warning-frame:hover {
  border-color: #ffbc42;
}

.card-danger-frame.active, .card-danger-frame:hover {
  border-color: #da4b48;
}

.card-light-frame.active, .card-light-frame:hover {
  border-color: #f5f8fb;
}

.card-dark-frame.active, .card-dark-frame:hover {
  border-color: #151b26;
}

.card-purple-frame.active, .card-purple-frame:hover {
  border-color: #796eff;
}

.card-blue-frame.active, .card-blue-frame:hover {
  border-color: #1c6be1;
}

.card-primary-soft-frame.active, .card-primary-soft-frame:hover {
  border-color: rgba(33, 200, 122, 0.1);
}

.card-white-soft-frame.active, .card-white-soft-frame:hover {
  border-color: rgba(255, 255, 255, 0.1);
}

.card-dark-soft-frame.active, .card-dark-soft-frame:hover {
  border-color: rgba(21, 27, 38, 0.4);
}

@media (min-width: 576px) {
  /* Gutters X */
  .card-sm-gutters-1 {
    margin-right: -.25rem;
    margin-left: -.25rem;
  }
  .card-sm-gutters-1 .card {
    margin-right: .25rem;
    margin-left: .25rem;
  }
  .card-sm-gutters-2 {
    margin-right: -.5rem;
    margin-left: -.5rem;
  }
  .card-sm-gutters-2 .card {
    margin-right: .5rem;
    margin-left: .5rem;
  }
  .card-sm-gutters-3 {
    margin-right: -1rem;
    margin-left: -1rem;
  }
  .card-sm-gutters-3 .card {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media (min-width: 768px) {
  /* Gutters X */
  .card-md-gutters-1 {
    margin-right: -.25rem;
    margin-left: -.25rem;
  }
  .card-md-gutters-1 .card {
    margin-right: .25rem;
    margin-left: .25rem;
  }
  .card-md-gutters-2 {
    margin-right: -.5rem;
    margin-left: -.5rem;
  }
  .card-md-gutters-2 .card {
    margin-right: .5rem;
    margin-left: .5rem;
  }
  .card-md-gutters-3 {
    margin-right: -1rem;
    margin-left: -1rem;
  }
  .card-md-gutters-3 .card {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media (min-width: 992px) {
  /* Gutters X */
  .card-lg-gutters-1 {
    margin-right: -.25rem;
    margin-left: -.25rem;
  }
  .card-lg-gutters-1 .card {
    margin-right: .25rem;
    margin-left: .25rem;
  }
  .card-lg-gutters-2 {
    margin-right: -.5rem;
    margin-left: -.5rem;
  }
  .card-lg-gutters-2 .card {
    margin-right: .5rem;
    margin-left: .5rem;
  }
  .card-lg-gutters-3 {
    margin-right: -1rem;
    margin-left: -1rem;
  }
  .card-lg-gutters-3 .card {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}

@media (min-width: 1200px) {
  /* Gutters X */
  .card-xl-gutters-1 {
    margin-right: -.25rem;
    margin-left: -.25rem;
  }
  .card-xl-gutters-1 .card {
    margin-right: .25rem;
    margin-left: .25rem;
  }
  .card-xl-gutters-2 {
    margin-right: -.5rem;
    margin-left: -.5rem;
  }
  .card-xl-gutters-2 .card {
    margin-right: .5rem;
    margin-left: .5rem;
  }
  .card-xl-gutters-3 {
    margin-right: -1rem;
    margin-left: -1rem;
  }
  .card-xl-gutters-3 .card {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
