/* ------------------------------------
  Height
------------------------------------ */
.height-40vh {
  height: 40vh;
}

.height-60vh {
  height: 60vh;
}

.height-100vh {
  height: 100vh;
}

.height-380 {
  height: 23.75rem;
}

.height-400 {
  height: 25rem;
}

.height-450 {
  height: 28.125rem;
}

.min-height-100vh {
  min-height: 100vh;
}

.min-height-155 {
  min-height: 9.6875rem;
}

.min-height-300 {
  min-height: 18.75rem;
}


.min-height-320 {
  min-height: 20rem;
}

.min-height-380 {
  min-height: 23.75rem;
}

.min-height-400 {
  min-height: 25rem;
}
.min-height-450 {
  min-height: 28.125rem;
}

.min-height-550 {
  min-height: 34.375rem;
}

.min-height-600 {
  min-height: 37.5rem;
}

.min-height-620 {
  min-height: 38.75rem;
}

.height-100vh {
    height: 100vh;
}

.height-400 {
    height: 25rem;
}

.height-550 {
    height: 34.375rem;
}

.height-600 {
    height: 37.5rem;
}

.min-height-280 {
    min-height: 17.5rem;
}

@media (min-width: 576px) {
    .height-100vh--sm {
        height: 100vh;
    }
}

@media (min-width: 768px) {
    .height-100vh--md {
        height: 100vh;
    }
    .h-md-100 {
        height: 100%;
    }
}

@media (min-width: 992px) {
    .h-lg-100 {
        height: 100%;
    }
    .height-15vh--lg {
        height: 15vh;
    }
    .height-85vh--lg {
        height: 85vh;
    }
    .height-100vh--lg {
        height: 100vh;
    }
    .height-600--lg {
        height: 37.5rem;
    }
}

@media (min-width: 1200px) {
    .height-100vh--xl {
        height: 100vh;
    }
}
