/* ------------------------------------
  Clients
------------------------------------ */
.u-clients {
  width: 5rem;
  margin-left: auto;
  margin-right: auto;

  &,&:active,&:hover,&:focus{
    border: none;
    outline: none !important; // -webkit-tap-highlight-color: transparent
  }

}

.u-clients--lg {
  width: 6rem;
}

.u-clients-list .slick-slide div {
  line-height: .7;
}

.u-clients-list .slick-slide:last-child .u-clients-item {
  border-right: 0;
}

.u-clients-list .slick-slide div:last-child .u-clients-item {
  border-bottom: 0;
}

.u-clients-item {
  border-width: 0 1px 1px 0;
  border-color: #e3e6f0;
  border-style: solid;
}
