/* ------------------------------------
  Label Colors
------------------------------------ */

/* label primary */
.u-label--primary {
  color: #21c87a;
  background-color: rgba(33, 200, 122, 0.1);
}

.u-label--primary[href]:hover, .u-label--primary[href]:focus {
  color: #fff;
  background-color: #21c87a;
}

/* label secondary */
.u-label--secondary {
  color: #646f79;
  background-color: rgba(100, 111, 121, 0.1);
}

.u-label--secondary[href]:hover, .u-label--secondary[href]:focus {
  color: #fff;
  background-color: #646f79;
}

/* label success */
.u-label--success {
  color: #21c87a;
  background-color: rgba(33, 200, 122, 0.1);
}

.u-label--success[href]:hover, .u-label--success[href]:focus {
  color: #fff;
  background-color: #21c87a;
}

/* label info */
.u-label--info {
  color: #00dffc;
  background-color: rgba(0, 223, 252, 0.1);
}

.u-label--info[href]:hover, .u-label--info[href]:focus {
  color: #212529;
  background-color: #00dffc;
}

/* label warning */
.u-label--warning {
  color: #ffbc42;
  background-color: rgba(255, 188, 66, 0.1);
}

.u-label--warning[href]:hover, .u-label--warning[href]:focus {
  color: #212529;
  background-color: #ffbc42;
}

/* label danger */
.u-label--danger {
  color: #da4b48;
  background-color: rgba(218, 75, 72, 0.1);
}

.u-label--danger[href]:hover, .u-label--danger[href]:focus {
  color: #fff;
  background-color: #da4b48;
}

/* label light */
.u-label--light {
  color: #f5f8fb;
  background-color: rgba(245, 248, 251, 0.1);
}

.u-label--light[href]:hover, .u-label--light[href]:focus {
  color: #212529;
  background-color: #f5f8fb;
}

/* label dark */
.u-label--dark {
  color: #151b26;
  background-color: rgba(21, 27, 38, 0.1);
}

.u-label--dark[href]:hover, .u-label--dark[href]:focus {
  color: #fff;
  background-color: #151b26;
}

/* label purple */
.u-label--purple {
  color: #796eff;
  background-color: rgba(121, 110, 255, 0.1);
}

.u-label--purple[href]:hover, .u-label--purple[href]:focus {
  color: #fff;
  background-color: #796eff;
}

/* label blue */
.u-label--blue {
  color: #1c6be1;
  background-color: rgba(28, 107, 225, 0.1);
}

.u-label--blue[href]:hover, .u-label--blue[href]:focus {
  color: #fff;
  background-color: #1c6be1;
}

/* label primary-soft */
.u-label--primary-soft {
  color: rgba(33, 200, 122, 0.1);
  background-color: rgba(33, 200, 122, 0.1);
}

.u-label--primary-soft[href]:hover, .u-label--primary-soft[href]:focus {
  color: #fff;
  background-color: rgba(33, 200, 122, 0.1);
}

/* label white */
.u-label--white {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

.u-label--white[href]:hover, .u-label--white[href]:focus {
  color: #1e2022;
  background-color: #fff;
}

/* label white-soft */
.u-label--white-soft {
  color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

.u-label--white-soft[href]:hover, .u-label--white-soft[href]:focus {
  color: #212529;
  background-color: rgba(255, 255, 255, 0.1);
}

/* label dark-soft */
.u-label--dark-soft {
  color: rgba(21, 27, 38, 0.4);
  background-color: rgba(21, 27, 38, 0.1);
}

.u-label--dark-soft[href]:hover, .u-label--dark-soft[href]:focus {
  color: #fff;
  background-color: rgba(21, 27, 38, 0.4);
}

/* ------------------------------------
  Label
------------------------------------ */
.u-label {
  display: inline-block;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 1.125rem;
  border-radius: 6.1875rem;
  transition: 0.2s ease-in-out;
}

.u-label--rounded {
  border-radius: 0.25rem;
}
.u-label--circle {
  border-radius: 6.1875rem;
}

/* ------------------------------------
  Label Sizes
------------------------------------ */

/* Extra Small */
.u-label--xs {
  font-size: 0.75rem;
  padding: 0.25rem 0.75rem;
}

/* Small */
.u-label--sm {
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
}

/* ------------------------------------
  Label Colors
------------------------------------ */

/* label primary */
.u-label--primary {
  color: #21c87a;
  background-color: rgba(33, 200, 122, 0.1);
}

.u-label--primary[href]:hover, .u-label--primary[href]:focus {
  color: #fff;
  background-color: #21c87a;
}

/* label secondary */
.u-label--secondary {
  color: #646f79;
  background-color: rgba(100, 111, 121, 0.1);
}

.u-label--secondary[href]:hover, .u-label--secondary[href]:focus {
  color: #fff;
  background-color: #646f79;
}

/* label success */
.u-label--success {
  color: #21c87a;
  background-color: rgba(33, 200, 122, 0.1);
}

.u-label--success[href]:hover, .u-label--success[href]:focus {
  color: #fff;
  background-color: #21c87a;
}

/* label info */
.u-label--info {
  color: #00dffc;
  background-color: rgba(0, 223, 252, 0.1);
}

.u-label--info[href]:hover, .u-label--info[href]:focus {
  color: #212529;
  background-color: #00dffc;
}

/* label warning */
.u-label--warning {
  color: #ffbc42;
  background-color: rgba(255, 188, 66, 0.1);
}

.u-label--warning[href]:hover, .u-label--warning[href]:focus {
  color: #212529;
  background-color: #ffbc42;
}

/* label danger */
.u-label--danger {
  color: #da4b48;
  background-color: rgba(218, 75, 72, 0.1);
}

.u-label--danger[href]:hover, .u-label--danger[href]:focus {
  color: #fff;
  background-color: #da4b48;
}

/* label light */
.u-label--light {
  color: #f5f8fb;
  background-color: rgba(245, 248, 251, 0.1);
}

.u-label--light[href]:hover, .u-label--light[href]:focus {
  color: #212529;
  background-color: #f5f8fb;
}

/* label dark */
.u-label--dark {
  color: #151b26;
  background-color: rgba(21, 27, 38, 0.1);
}

.u-label--dark[href]:hover, .u-label--dark[href]:focus {
  color: #fff;
  background-color: #151b26;
}

/* label purple */
.u-label--purple {
  color: #796eff;
  background-color: rgba(121, 110, 255, 0.1);
}

.u-label--purple[href]:hover, .u-label--purple[href]:focus {
  color: #fff;
  background-color: #796eff;
}

/* label blue */
.u-label--blue {
  color: #1c6be1;
  background-color: rgba(28, 107, 225, 0.1);
}

.u-label--blue[href]:hover, .u-label--blue[href]:focus {
  color: #fff;
  background-color: #1c6be1;
}

/* label primary-soft */
.u-label--primary-soft {
  color: rgba(33, 200, 122, 0.1);
  background-color: rgba(33, 200, 122, 0.1);
}

.u-label--primary-soft[href]:hover, .u-label--primary-soft[href]:focus {
  color: #fff;
  background-color: rgba(33, 200, 122, 0.1);
}

/* label white-soft */
.u-label--white-soft {
  color: rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}

.u-label--white-soft[href]:hover, .u-label--white-soft[href]:focus {
  color: #212529;
  background-color: rgba(255, 255, 255, 0.1);
}

/* label dark-soft */
.u-label--dark-soft {
  color: rgba(21, 27, 38, 0.4);
  background-color: rgba(21, 27, 38, 0.1);
}

.u-label--dark-soft[href]:hover, .u-label--dark-soft[href]:focus {
  color: #fff;
  background-color: rgba(21, 27, 38, 0.4);
}
