/* ------------------------------------
  Quantity
------------------------------------ */
.u-quantity {
  width: 4rem;
}

.u-quantity > .u-quantity__input {
  padding-right: 1.875rem;
}

.u-quantity > .u-quantity__input:not(:last-child) {
  border-radius: 0.25rem;
}

.u-quantity__arrows {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  right: .75rem;
  z-index: 3;
}

.u-quantity__arrows-inner {
  display: block;
  color: #646f79;
  cursor: pointer;
}

.u-quantity__arrows-inner:hover {
  color: #646f79;
}

/* ------------------------------------
  Shopping Cart
------------------------------------ */

/* Item */
.u-shopping-cart {
  border: 1px solid #e3e6f0;
  margin-top: 1.3125rem;
  border-radius: 0;
}

.u-shopping-cart__item-divider {
  border-bottom: 1px solid #e3e6f0;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.u-shopping-cart__item-img-wrapper {
  width: 25%;
}

.u-shopping-cart__item-info-wrapper {
  width: 75%;
}

.u-shopping-cart__item-remover {
  cursor: pointer;
  color: #bfc3ca;
}

.u-shopping-cart__item-remover:hover {
  color: #151b26;
}

/* ------------------------------------
  Shopping Cart - Color Selector
------------------------------------ */
.u-shopping-cart-color-selector {
  display: inline-block;
  cursor: pointer;
  width: 1.75rem;
  height: 1.75rem;
  padding: .25rem;
  border: 3px solid #fff;
  border-radius: 50%;
}

.u-shopping-cart-color-selector.active {
  box-shadow: 0 0 0 2px #bfc3ca;
}

.u-shopping-cart-color-selector.active:hover {
  box-shadow: 0 0 0 2px #bfc3ca;
}

.u-shopping-cart-color-selector:hover {
  box-shadow: 0 0 0 2px #e3e6f0;
}

/* ------------------------------------
  Shopping Cart - Step Form
------------------------------------ */
.u-shopping-cart-step-form {
  margin-left: 0;
  text-align: center;
}

.u-shopping-cart-step-form__item {
  width: 100%;
  border-bottom: 2px solid #e3e6f0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-right: -.25rem;
  margin-left: -.25rem;
}

.u-shopping-cart-step-form__item:not(:last-child) {
  margin-right: 0;
}

@media (min-width: 576px) {
  .u-shopping-cart-step-form__item {
    width: 33.33333%;
  }
}

.u-shopping-cart-step-form__item.active {
  border-bottom-color: #21c87a;
}

.u-shopping-cart-step-form__item.active .u-shopping-cart-step-form__title,
.u-shopping-cart-step-form__item.active .u-shopping-cart-step-form__subtitle {
  color: #21c87a;
}

.u-shopping-cart-step-form__title {
  display: block;
  font-size: 1.25rem;
  color: #151b26;
}

.u-shopping-cart-step-form__subtitle {
  display: block;
  font-size: .875rem;
  color: #8c98a4;
}

/* Toggler */
.u-shopping-cart-step-form__toggler {
  display: block;
  width: 100%;
  text-align: center;
  color: #646f79;
  border: 1px solid #e3e6f0;
  border-radius: 0.25rem;
  padding: 1.5rem;
  min-width: 13.75rem;
  margin-right: 1rem;
  transition: 0.3s;
}

.u-shopping-cart-step-form__toggler.active, .u-shopping-cart-step-form__toggler:hover {
  color: #21c87a;
  border-color: #21c87a;
}

.u-shopping-cart-step-form__toggler-icon {
  font-size: 1.5rem;
}

.u-shopping-cart-step-form__toggler-img {
  width: 5rem;
  height: auto;
}
