/* ------------------------------------
  Unfold (Drop Down)
------------------------------------ */

/* Disable content revealing on page load */
.u-unfold[aria-labelledby] {
  opacity: 0;
}

.u-unfold[aria-labelledby][role="tabpanel"] {
  opacity: 1;
}

.u-unfold[aria-labelledby].u-unfold--css-animation, .u-unfold[aria-labelledby].u-unfold--jquery-slide {
  opacity: 1;
}

.u-unfold.u-unfold--css-animation.u-unfold--hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.u-unfold {
  position: absolute;
  z-index: 99;
  min-width: 8.4375rem;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.9375rem rgba(100, 111, 121, 0.1);
  padding: 1rem 1.5rem;
  border: none;
  margin-bottom: 0;
}

.u-unfold-wrapper {
  color: #646f79;
  font-size: 0.875rem;
}

.u-unfold-wrapper:hover {
  color: #151b26;
}

.u-unfold-wrapper--light {
  color: #8f95a0;
}

.u-unfold-wrapper--light:hover {
  color: #fff;
}

.u-unfold__icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 1.0625rem;
  margin-right: .5rem;
}

.u-unfold__icon-pointer {
  font-size: 0.625rem;
  vertical-align: middle;
  margin-left: .25rem;
}

/* ------------------------------------
  Unfold (Drop Down) - Language
------------------------------------ */
.u-unfold--language {
  min-width: 18.5rem;
  padding: 0;
  margin-bottom: 3.5rem;
}

.u-unfold--language-btn {
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.u-unfold--language-btn:hover, .u-unfold--language-btn:focus {
  color: #fff !important;
}

.u-unfold--language__link {
  display: block;
  background-color: #f5f8fb;
}

.active .u-unfold--language-icon-pointer {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

@media (min-width: 576px) {
  .u-unfold--language {
    min-width: 22.5rem;
  }
}

/* ------------------------------------
  Unfold (Drop Down) - Cart
------------------------------------ */
.u-unfold--cart {
  margin-top: 1.3125rem;
}
