$console: console !default;
.#{$console} {
  .dropdown-user {
    .u-img {
      width: 70px;
      height: 70px;
      display: inline-block;
      vertical-align: top;

      img {
        width: 70px;
        height: 70px;
        border-radius: 5px;
      }
    }

    .u-text {
      display: inline-block;
      padding-left: 10px;

      h4 {
        margin: 0;
        font-size: 15px;
        line-height: 22px;
      }

      p {
        margin-bottom: 2px;
        font-size: 12px;
      }
    }
  }

  //底部
  footer {
    padding: 2rem 0 0.5rem;

    .copyright {
      @extend .text-right;
    }
  }

  footer {
    ul {
      margin-bottom: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;

        a {
          color: inherit;
          padding: .5rem;
          text-transform: uppercase;
        }
      }
    }
  }

}

.mt--7 {
  margin-top: -6rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

@media (min-width: 992px) {
  .pt-lg-8 {
    padding-top: 8rem !important;
  }
}

.bg-gradient-default {
  background: linear-gradient(87deg, #172b4d 0, #1a174d 100%) !important;
}

.avatar {
  font-size: 1rem;
  display: inline-flex;
  width: 48px;
  height: 48px;
  color: #fff;
  border-radius: 50%;
  background-color: #adb5bd;
  align-items: center;
  justify-content: center;
}

.avatar img {
  width: 100%;
  border-radius: 50%;
}

.avatar-sm {
  font-size: .875rem;
  width: 36px;
  height: 36px;
}

.main-content {
  position: relative;
}

.main-content .navbar-top {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  background-color: transparent;
}

@media (min-width: 768px) {
  .main-content .container-fluid {
    padding-right: 39px !important;
    padding-left: 39px !important;
  }
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all .15s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
  .mask {
    transition: none;
  }
}

.nav-link {
  color: #525f7f;
}

.nav-link:hover {
  color: #5e72e4;
}

.nav-link i.ni {
  position: relative;
  top: 2px;
}

.navbar-search .input-group {
  border: 2px solid;
  border-radius: 2rem;
  background-color: transparent;
}

.navbar-search .input-group .input-group-text {
  padding-left: 1rem;
  background-color: transparent;
}

.navbar-search .form-control {
  width: 270px;
  background-color: transparent;
}

.navbar-search-dark .input-group {
  border-color: rgba(255, 255, 255, .6);
}

.navbar-search-dark .input-group-text {
  color: rgba(255, 255, 255, .6);
}

.navbar-search-dark .form-control {
  color: rgba(255, 255, 255, .9);
}

.navbar-search-dark .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, .6);
}

.navbar-search-dark .form-control::-ms-input-placeholder {
  color: rgba(255, 255, 255, .6);
}

.navbar-search-dark .form-control::placeholder {
  color: rgba(255, 255, 255, .6);
}

.navbar-search-dark .focused .input-group {
  border-color: rgba(255, 255, 255, .9);
}

@media (min-width: 768px) {
  .navbar .dropdown-menu-arrow::before {
    position: absolute;
    z-index: -5;
    bottom: 100%;
    left: 20px;
    display: block;
    width: 12px;
    height: 12px;
    content: '';
    transform: rotate(-45deg) translateY(12px);
    border-radius: 2px;
    background: #fff;
    box-shadow: none;
  }

  .navbar .dropdown-menu-right::before {
    right: 20px;
    left: auto;
  }

  @keyframes show-navbar-dropdown {
    0% {
      transition: visibility .25s, opacity .25s, transform .25s;
      transform: translate(0, 10px) perspective(200px) rotateX(-2deg);
      opacity: 0;
    }

    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  @keyframes hide-navbar-dropdown {
    from {
      opacity: 1;
    }

    to {
      transform: translate(0, 10px);
      opacity: 0;
    }
  }
}

@media (max-width: 767.98px) {
  .navbar-nav .nav-link {
    padding: .625rem 0;
    color: #172b4d !important;
  }

  .navbar-nav .dropdown-menu {
    min-width: auto;
    box-shadow: none;
  }
}

#navbar .navbar {
  margin-bottom: 20px;
}


//
$__profile__label_width: 144px;
.__profile {
  @extend .d-flex;
  @extend .align-items-center;

  margin-bottom: 1rem;
  line-height: 20px;

  &__label {
    width: $__profile__label_width;
    padding: 24px 0;
    text-align: center;
    background-color: #f3f5f7;
    color: #07111b;
    font-weight: 400;
  }

  &__content {
    margin-left: 1rem;
    padding: 24px 0 22px;
    border-bottom: 1px solid #d9dde1;
    width: calc(100% - #{$__profile__label_width});
  }
}
