/* ------------------------------------
  Form
------------------------------------ */
.form__input {
  z-index: 2;
}

.form__append, .form__prepend,
.form__prepend > .btn,
.form__append > .btn, .form__text {
  //background-clip: padding-box;
  transition: all 0.2s ease-in-out;
}

.form__append .btn {
  margin-left: 1px;
}

.form__text {
  position: relative;
}

.form__text-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form--no-brd .form__input,
.form--no-brd .form__text {
  border-color: transparent;
}

.form--white-brd .form__input,
.form--white-brd .form__text {
  border-color: #fff !important;
}

.form--no-addon-brd .form__input:not(:first-child) {
  border-left: none;
}

.form--no-addon-brd .form__input:not(:last-child) {
  border-right: none;
}

/* ------------------------------------
  Form Sizes
------------------------------------ */
.form .form__text {
  min-width: 3rem;
  font-size: 0.8125rem;
}

.form--sm .form__text {
  min-width: 2.6875rem;
}

.form--lg .form__text {
  font-size: 1.125rem;
  min-width: 3.875rem;
}

/* ------------------------------------
  Input Dropdown
------------------------------------ */
.u-guests__input {
  cursor: pointer;
  z-index: 2;
}

.u-guests__input-i {
  fill: #bfc3ca;
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 3;
}

.open .u-guests__input-i {
  -webkit-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.u-guests-options {
  margin-top: .5rem;
  width: 87%;
  z-index: 1;
}

.u-guests-options__label {
  line-height: 1.5;
}

.u-guests-options__label-info {
  display: block;
  font-style: normal;
  color: #646f79;
}

.u-guests-options__ctrl, .u-guests-options__value {
  padding-top: .3rem;
  padding-bottom: .3rem;
}

.u-guests-options__ctrl {
  padding-left: .65rem;
  padding-right: .65rem;
  border: solid 1px #e3e6f0;
  cursor: pointer;
}

.u-guests-options__value {
  width: 3rem;
  text-align: center;
  border-top: solid 1px #e3e6f0;
  border-bottom: solid 1px #e3e6f0;
}

.u-guests-options__ctrl--minus {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.u-guests-options__ctrl--plus {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

/* ------------------------------------
  Custom Checkbox
------------------------------------ */
.custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before {
  border-color: rgba(33, 200, 122, 0);
}

/* ------------------------------------
  Checkbox Switch
------------------------------------ */
.custom-switch {
  padding-left: 3.25rem;
}

.custom-switch .custom-control-label::before {
  top: .15rem;
  left: -3.25rem;
  height: 1.5rem;
  border: none;
  background-color: #e3e6f0;
  border-radius: 6.1875rem;
}

.custom-switch .custom-control-label::after {
  top: calc(0.5rem);
  left: calc(-2.875rem);
  background-color: #fff;
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  -webkit-transform: translateX(1rem);
  transform: translateX(1rem);
}

/* ------------------------------------
  Form Selector
------------------------------------ */
.form-selector {
  padding-left: 0;
  margin-right: .5rem;
  margin-bottom: .75rem;
}

.form-selector__input:checked ~ .form-selector__label {
  border-color: #21c87a;
}

.form-selector__label {
  text-align: center;
  cursor: pointer;
  min-width: 5rem;
  border: 1px solid #e3e6f0;
  border-radius: 0.25rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.form-selector__label::before, .form-selector__label::after {
  display: none;
}

/* ------------------------------------
  Form Selector Modern
------------------------------------ */
.form-selector-modern {
  width: 100%;
  padding-left: 0;
  margin-right: 0;
  margin-bottom: 1rem;
}

.form-selector-modern__input:checked ~ .form-selector-modern__label {
  border-color: #21c87a;
}

.form-selector-modern__label {
  width: 100%;
  cursor: pointer;
  border: 2px solid #e3e6f0;
  border-radius: 0.25rem;
  padding: 1.25rem;
  padding-left: 3rem;
}

.form-selector-modern__label::before, .form-selector-modern__label::after {
  top: 1.5rem;
  left: 1.25rem;
}

/* ------------------------------------
  Success State
------------------------------------ */
.u-has-success .form.u-focus-state {
  box-shadow: 0 0 1.5625rem rgba(33, 200, 122, 0.1);
}

.u-has-success .form:focus,
.u-has-success .form.u-focus-state .form__text,
.u-has-success .form.u-focus-state .form__input,
.u-has-success .form.u-focus-state *:focus {
  border-color: #21c87a;
}

.u-has-success .form.u-focus-state .form__text {
  color: #21c87a;
}

/* ------------------------------------
  Error State
------------------------------------ */
.u-has-error .form.u-focus-state {
  box-shadow: 0 0 1.5625rem rgba(218, 75, 72, 0.1);
}

.u-has-error .form:focus,
.u-has-error .form.u-focus-state .form__text,
.u-has-error .form.u-focus-state .form__input,
.u-has-error .form.u-focus-state *:focus {
  border-color: #da4b48;
}

.u-has-error .form.u-focus-state .form__text {
  color: #da4b48;
}

/* ------------------------------------
  Focus States
------------------------------------ */
.form {
  transition: all 0.2s ease-in-out;
}

.form.u-focus-state {
  box-shadow: 0 0 1.5625rem rgba(100, 111, 121, 0.1);
}

.form:focus,
.form.u-focus-state .form__text,
.form.u-focus-state .form__input,
.form.u-focus-state *:focus {
  border-color: rgba(21, 27, 38, 0.5);
}

.form.u-focus-state .form__text {
  color: #151b26;
}

/* White Border */
.form--white-brd.u-focus-state .form__input {
  border-color: #fff;
}




/* ------------------------------------
  Form Sizes
------------------------------------ */
.form .form__text {
  min-width: 3rem;
  font-size: 0.8125rem;
}

.form--sm .form__text {
  min-width: 2.6875rem;
}

.form--lg .form__text {
  font-size: 1.125rem;
  min-width: 3.875rem;
}

