/* font-size */
$f-s: f-s !default;
$font-size-start: 0;
$font-size-end: 160;

@for $i from $font-size-start through $font-size-end {
  @if $i >= 12 or $i == 0 {
    .#{$f-s}-#{$i} {
      @include font-size( $i + 0 ,true); // 会自动转成 rem
    }
  }
}

