//
//.dropdown-menu .dropdown-item {
//  font-size: $font-size-base * 0.875;
//  padding: .5rem 1rem;
//}
//
//.dropdown-item:focus, .dropdown-item:hover {
//  text-decoration: none;
//  color: #16181b;
//  background-color: #f6f9fc;
//}
//
//.dropdown-menu {
//  font-size: 1rem;
//  position: absolute;
//  z-index: 1000;
//  top: 100%;
//  left: 0;
//  display: none;
//  float: left;
//  min-width: 10rem;
//  margin: .125rem 0 0;
//  padding: .5rem 0;
//  list-style: none;
//  text-align: left;
//  color: #525f7f;
//  border: 0 solid rgba(0,0,0,.15);
//  border-radius: .4375rem;
//  background-color: #fff;
//  background-clip: padding-box;
//  box-shadow: 0 50px 100px rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 5px 15px rgba(0,0,0,.1);
//}
//
//.navbar .dropdown-menu-right:before {
//  right: 20px;
//  left: auto;
//}

@media (min-width: 992px){
  //.dropdown-menu.show {
  //  animation: show-navbar-dropdown .25s ease forwards;
  //  pointer-events: auto;
  //  opacity: 1;
  //}
  //.dropdown-menu {
  //  position: absolute;
  //}
  //.dropdown-menu-right:before {
  //  right: 20px;
  //  left: auto;
  //}
  .dropdown-menu::before {
    position: absolute;
    z-index: -5;
    bottom: 100% !important;
    left: 20px;
    display: block;
    width: 16px;
    height: 16px;
    content: '';
    transform: rotate(-45deg) translateY(1rem);
    border-radius: .25rem;
    background: #fff;
    box-shadow: none;
  }
}
