/* ------------------------------------
  Space
------------------------------------ */
$space: space;
$space_sizes: (0 0) (1 2rem) (2 4rem) (3 8rem) (4 12.5rem) (5 15rem);
@each $item in $space_sizes {
  .#{$space}-#{nth($item, 1)} {
    @if nth($item, 1) == 0 {
      padding-top: #{nth($item, 2)} !important;
      padding-bottom: #{nth($item, 2)} !important;
      &-top {
        padding-top: #{nth($item, 2)} !important;
      }

      &-bottom {
        padding-bottom: #{nth($item, 2)} !important;
      }
    } @else {
      padding-top: #{nth($item, 2)};
      padding-bottom: #{nth($item, 2)};
      &-top {
        padding-top: #{nth($item, 2)};
      }

      &-bottom {
        padding-bottom: #{nth($item, 2)};
      }
    }
    @if nth($item, 1) >= 3 {
      @include media-breakpoint-up(sm) {
        &--sm {
          padding-top: #{nth($item, 2)};
          padding-bottom: #{nth($item, 2)};
        }
        &--top-sm {
          padding-top: #{nth($item, 2)};
        }
        &--bottom-sm {
          padding-bottom: #{nth($item, 2)};
        }
      }

      @include media-breakpoint-up(md) {
        &--md {
          padding-top: #{nth($item, 2)};
          padding-bottom: #{nth($item, 2)};
        }
        &-top--md {
          padding-top: #{nth($item, 2)};
        }
        &-bottom--md {
          padding-bottom: #{nth($item, 2)};
        }
      }

      @include media-breakpoint-up(lg) {
        &--lg {
          padding-top: #{nth($item, 2)};
          padding-bottom: #{nth($item, 2)};
        }
        &-top--lg {
          padding-top: #{nth($item, 2)};
        }
        &-bottom--lg {
          padding-bottom: #{nth($item, 2)};
        }
      }

      @include media-breakpoint-up(xl) {
        &-top--xl {
          padding-top: #{nth($item, 2)};
        }
        &-bottom--xl {
          padding-bottom: #{nth($item, 2)};
        }
      }

    }
    @if nth($item, 1) == 2 {
      @include media-breakpoint-up(md) {
        &-bottom-0--md {
          padding-bottom: 0;
        }
      }
    }
    @if nth($item, 1) == 1 or nth($item, 1) == 0 {
      @include media-breakpoint-up(lg) {
        &--lg {
          padding-top: #{nth($item, 2)};
          padding-bottom: #{nth($item, 2)};
        }
        &-top--lg {
          padding-top: #{nth($item, 2)};
        }
        &-bottom--lg {
          padding-bottom: #{nth($item, 2)};
        }
      }
    }
  }
}
